<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shopping List</title>
  </head>
  <body>
    <h1>Add Shopping List</h1>

    <form action='/shoppingList' method='POST'>
      <input type="text" name="title" placeholder="List Name"/>
      <input type='submit'/>
    </form>

    <a href="shoppingList">View Shopping Lists</a>

  </body>
</html>
